/* ----------------------------------------------------------------------------
 * page  dashboard
 * ------------------------------------------------------------------------- */
.p-dashboard {
  .post {
    margin: 80px 0;
  }

  .post-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}