/* ----------------------------------------------------------------------------
 * page  index
 * ------------------------------------------------------------------------- */
.p-index {

  &__category {
    margin: 20px 0;
  }


  &__image {
    height: 400px;
    position: relative;
    background-image: url(https://res.cloudinary.com/frip/image/upload/c_scale,h_400,q_100/v1579348125/frip/images/main_img_pc.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    padding-top: 136px;
    padding-bottom: 40px;
    width: 100%;
    z-index: 0;
    overflow: hidden;
  }
    
  &--copy {
    position: relative;
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
    margin-bottom: 48px;
  }

  &__category {

    &__image {
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 200px;

      &:before {
        display: block;
        content: "";
        padding-top: 100%;
      }
    }

    &__images {

      &--wrap {
        line-height: 0;
        display: flex;
        display: -webkit-flex;
        width: 100%;
        ul {
          box-sizing: border-box;
          width: 100%;
        }
        li {
          display: block;
          width: 33.333%;
          float: left;
          padding: 1px;
          position: relative;
        }
      }

      &--link {
        width: 100%;
        // position: relative;
        img {
          width: 100%;
          height: 380px;
          object-fit: cover;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          transition: all .3s;

          &:hover {
            -webkit-filter: brightness(0.8);
            -moz-filter: brightness(0.8);
            -o-filter: brightness(0.8);
            -ms-filter: brightness(0.8);
            filter: brightness(0.8);
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
            box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);

          }
        }
        .category__name {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          padding: 4px;
          font-weight: bold;
          color: $c-white;
          margin-bottom: 8px;
          text-shadow: 0 0 12px rgba(0,0,0,.24);
          font-weight: 700;
          font-size: 16px;
          font-family: YakuHanJP Black,Noto Sans Japanese Black;
        }
      }
    }
  }
}
