
.s-header {
  position: relative;
  width: 100%;
  min-width: 960px;
  background: $c-white;
  box-shadow: 0 0 4px rgba(34,34,34,0.2);
  border-bottom: 2px solid #d5d5d5;

  &__container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    height: 80px;
    margin: 0 auto;
  }

  &__content {
    &--left {

    }

    &--right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &-logo{
    &__sizing {
      height: 35px;
      width: auto;
      object-fit: cover;
    }
  }

  &-list {
    &--link {
      color: $c-text-headliner;
      text-decoration: none;
    }
    &__avatar {
      border-radius: 30px;
      width: 30px;
      height: 30px;
    }

    &__dropdown {
      &__nav-lists {
        li {
          display: block;
          padding: 6px 15px;
          &::hover {
            // background-color: #aaaaaa;
          }
          a {
            color: #4a4a4b;
          }
        }
      }
    }
  }
  .m-hamburger {
    .bm-burger-button {
      top: 16px;
    }
  }
}
