@charset "utf-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
list-style: none;
}

body {
  -webkit-text-size-adjust: 100%;
  color: #201E1F;
  font-family: 'TsukuARdGothic-Regular','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic','Yu Gothic UI','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  line-height: 1.2;
}


html{
/*overflow-y: scroll;*/
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

nav ul {list-style:none;}

blockquote, q {quotes:none;}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}
ol, ul {list-style: none;}
a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}

del {text-decoration: line-through;}
abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
font-size: inherit; /* モダンブラウザ向け */
font: 100%; /* Win IE 5-5.5､6(後方互換モード)向け */
}

hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {vertical-align:middle;}
img, iframe {max-width: 100%;}
img {
box-sizing: border-box;
height: auto;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing:    border-box;
box-sizing:         border-box;
}

/* For modern browsers */
.cf:before,.cf:after {
  content:"";
  display:table;
}
.cf:after { clear:both;}

/* For IE 6/7 (trigger hasLayout) */
.cf {zoom:1;}

