@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

/* ============================================================================
 * color code
 * ========================================================================= */

/* ============================================================================
 * mixin
 * ========================================================================= */

/* ============================================================================
 * base
 * ========================================================================= */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
}

body {
  -webkit-text-size-adjust: 100%;
}

html {
  /*overflow-y: scroll;*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

ol,
ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  /* モダンブラウザ向け */
  font: 100%;
  /* Win IE 5-5.5､6(後方互換モード)向け */
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

img,
iframe {
  max-width: 100%;
}

img {
  box-sizing: border-box;
  height: auto;
}

* {
  box-sizing: border-box;
}

/* For modern browsers */

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */

.cf {
  zoom: 1;
}

/* ============================================================================
 * common
 * ========================================================================= */

/* ============================================================================
 * structure
 * ========================================================================= */

.s-footer {
  text-align: center;
  margin-bottom: 40px;
  font-size: 15px;
}

.s-footer_nav--ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.s-footer_nav--ul li {
  position: relative;
}

.s-footer_nav--link {
  padding: 0 15px;
  text-decoration: none;
  color: #201E1F;
  display: block;
}

.s-footer_nav--ul li::before {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 18px;
  background-color: #201E1F;
}

.s-footer_nav--ul li::after {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 18px;
  right: -1px;
  top: 0;
  background-color: #201E1F;
}

.s-header {
  margin: 40px 0;
}

.s-header .header_img {
  height: 70px;
}

.s-header .header_nav--ul {
  display: flex;
}

.s-header .header_nav--ul li {
  font-size: 16px;
  text-align: center;
  position: relative;
}

.s-header .header_nav--ul li::before {
  display: block;
  content: "";
  background-color: #58595B;
  width: 1px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.s-header .header_nav-link {
  text-decoration: none;
  color: #201E1F;
  text-align: center;
  margin: 20px;
  display: block;
}

.s-header .header_nav-link span {
  display: block;
  font-size: 11px;
  color: #77BC1F;
}

.s-header .header_nav-bell {
  text-decoration: none;
  text-align: center;
  margin: 20px 15px;
  display: block;
}

.s-header .header_nav-bell img {
  width: 30px;
}

.s-header .header_nav--btn {
  background-color: #35A638;
  padding: 5px 25px;
  margin: 20px;
}

.s-header .header_nav--ul li:last-child:before {
  display: none;
}

.s-header .header_spnav {
  display: none;
}

.s-header a:hover {
  opacity: 0.5;
  transition: all 0.5s;
}

.s-header .header-sp {
  display: none;
}

@media screen and (max-width: 960px) {
  .header_nav--ul {
    display: none;
  }

  .s-header {
    width: 100%;
    top: 0;
    background: white;
    position: fixed;
    z-index: 1000;
    padding: 10px 0;
    margin: 0;
    /* ハンバーガー */
    /* ナビ開いてる時のボタン */
    /* このクラスを、jQueryで付与・削除する */
    /* ロゴ */
  }

  .s-header .header_nav-link {
    text-decoration: none;
    color: #201E1F;
    text-align: center;
    margin: 0;
  }

  .s-header .header_nav--ul li::before {
    display: none;
  }

  .s-header nav.globalMenuSp ul {
    margin-top: 30px;
  }

  .s-header nav.globalMenuSp ul li {
    padding: 0 20px;
  }

  .s-header nav.globalMenuSp ul li a {
    padding: 20px 0;
  }

  .s-header nav.globalMenuSp ul li a.header_nav--btn {
    padding: 15px 25px;
    margin: 0;
    margin: 20px 0;
  }

  .s-header .hamburger {
    display: block;
    position: relative;
    cursor: pointer;
    text-align: center;
  }

  .s-header .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: #555;
    transition: 0.3s ease-in-out;
  }

  .s-header .hamburger span:nth-child(1) {
    top: 10px;
  }

  .s-header .hamburger span:nth-child(2) {
    top: 20px;
  }

  .s-header .hamburger span:nth-child(3) {
    top: 30px;
  }

  .s-header .hamburger.active span:nth-child(1) {
    top: 16px;
    left: 6px;
    transform: rotate(-45deg);
  }

  .s-header .hamburger.active span:nth-child(2),
  .s-header .hamburger.active span:nth-child(3) {
    top: 16px;
    transform: rotate(45deg);
  }

  .s-header nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #000;
    background: #fff;
    text-align: center;
    transform: translateX(-100%);
    transition: all 0.6s;
    width: 250px;
    height: 100%;
    display: block;
  }

  .s-header nav.globalMenuSp ul {
    margin: 80px auto;
    padding: 0;
    width: 100%;
    padding: 0 20px;
  }

  .s-header nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
  }

  .s-header nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  .s-header nav.globalMenuSp.active {
    transform: translateY(0%);
  }

  .s-header .header-sp-img {
    position: relative;
    left: 48px;
  }

  .s-header .header_img {
    vertical-align: text-top;
    height: auto;
    width: 120px;
  }

  .s-header .header-sp {
    display: block;
  }

  .s-header .header-pc {
    display: none;
  }

  .s-header header .flex_sb {
    align-items: flex-end;
  }

  .s-header .header-sp-nav .header_nav--ul {
    display: flex;
    align-items: center;
  }

  .s-header .header_nav--btn {
    margin: 0 20px 0 8px;
  }

  .s-header .header-sp_logos {
    z-index: 1001;
  }

  .s-header .header_nav--ul img {
    vertical-align: text-top;
  }

  .s-header .header_nav-bell {
    margin: 0;
  }

  .s-header .header_udnav-link {
    display: block;
    border-bottom: 1px solid #211F20 !important;
  }

  .s-header .header_udnav-link a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #211F20;
    padding: 20px;
  }

  .s-header .header_nav-flex {
    display: flex;
    align-items: center;
    padding-bottom: 20px !important;
    border-bottom: 1px solid #211F20 !important;
  }

  .s-header .header-name {
    font-weight: bold;
  }

  .s-header .header-id {
    font-size: 14px;
  }

  .s-header .post-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 16px;
  }
}

/* ============================================================================
 * components
 * ========================================================================= */

/* ----------------------------------------------------------------------------
 * 
 * ------------------------------------------------------------------------- */

.c-message-index-card {
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.c-message-index-card .post-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.c-message-index-card .post-flex {
  border: 1px solid #6C6C6C;
  padding: 15px;
  display: flex;
}

.c-message-index-card .post-name {
  font-size: 18px;
  font-weight: bold;
}

.c-message-index-card .postpage-name {
  font-size: 18px;
  font-weight: bold;
  display: block;
}

.c-message-index-card .post-txtbox {
  margin-left: 10px;
}

.c-message-index-card .post-txt {
  margin: 15px 0;
}

.c-message-index-card .post-face {
  display: block;
  min-width: 40px;
}

/* ----------------------------------------------------------------------------
 * 
 * ------------------------------------------------------------------------- */

.c-message-show-card {
  min-height: 460px;
  max-width: 700px;
  margin: 80px auto;
}

.c-message-show-card .post-content {
  padding-left: 0;
  padding-right: 0;
  display: block;
  max-width: 100%;
}

.c-message-show-card .post-txt {
  margin-top: 0;
}

.c-message-show-card-info {
  display: flex;
  margin-bottom: 30px;
}

.c-message-show-card-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.c-message-show-card-info_container {
  margin-left: 15px;
}

.c-message-show-card-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.c-message-show-card-post_content {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  border: 1px solid #6C6C6C;
  padding: 15px 15px 145px;
  margin-bottom: 20px;
  position: relative;
  background-color: #fff;
  cursor: pointer;
}

.c-message-show-card-post_content::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url(/images/logo_gift_village.png);
  width: 100px;
  height: 31px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 20px;
}

.c-message-show-card-post_content::after {
  position: absolute;
  display: block;
  content: "";
  background-image: url(/images/img_5.png);
  width: 137px;
  height: 137px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 5px;
  right: 7px;
}

.c-message-show-card-flex {
  display: flex;
  margin-bottom: 15px;
}

.c-message-show-card-txt {
  font-size: 14px;
  line-height: 22px;
  padding: 0 10px;
}

.c-message-show-card-post_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 15px;
}

@media screen and (max-width: 960px) {
  .c-message-show-card {
    margin: 32px 0 40px;
  }
}

/* ============================================================================
* modules
* ========================================================================= */

/* ----------------------------------------------------------------------------
 * Button
 * ------------------------------------------------------------------------- */

.m-btn,
.m-btnS,
.m-btnM,
.m-btnL {
  font-size: 14px;
  color: #fff;
  display: block;
  border-radius: 30px;
  text-decoration: none;
}

.m-btn a,
.m-btnS a,
.m-btnM a,
.m-btnL a {
  color: #fff;
}

.m-btn:hover,
.m-btnS:hover,
.m-btnM:hover,
.m-btnL:hover {
  color: #fff;
}

.m-btn:active,
.m-btnS:active,
.m-btnM:active,
.m-btnL:active {
  color: #fff;
}

.m-btn[btn-type=main],
.m-btnS[btn-type=main],
.m-btnM[btn-type=main],
.m-btnL[btn-type=main] {
  background-color: #EC4B58;
  padding: 15px 50px;
  margin: 25px;
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
}

.m-btn[btn-type=twitter],
.m-btnS[btn-type=twitter],
.m-btnM[btn-type=twitter],
.m-btnL[btn-type=twitter] {
  background-color: #1DA1F2;
  display: inline-block;
  padding: 15px 50px;
  margin: 25px;
  font-size: 20px;
}

/* ----------------------------------------------------------------------------
 * icon from fontawesome
 * ------------------------------------------------------------------------- */

.fa-location {
  color: #666666;
}

.fa-location::before {
  font-family: "Font Awesome 5 Free";
  content: "\F3C5";
  font-weight: 600;
  color: #666666;
}

.fa-location span {
  font-size: 12px;
}

.fa-clock::before {
  font-family: "Font Awesome 5 Free";
  content: "\F017";
  font-weight: 600;
}

.fa-credit-card::before {
  font-family: "Font Awesome 5 Free";
  content: "\F09D";
  font-weight: 600;
}

.fa-sleep::before {
  font-family: "Font Awesome 5 Free";
  content: "\F236";
  font-weight: 600;
}

.fa-train::before {
  font-family: "Font Awesome 5 Free";
  content: "\F238";
  font-weight: 600;
}

.fa-eat::before {
  font-family: "Font Awesome 5 Free";
  content: "\F2E7";
  font-weight: 600;
}

.fa-restaurant::before {
  font-family: "Font Awesome 5 Free";
  content: "\F54E";
  font-weight: 600;
}

.fa-lunch::before {
  font-family: "Font Awesome 5 Free";
  content: "\F185";
  font-weight: 600;
}

.fa-dinner::before {
  font-family: "Font Awesome 5 Free";
  content: "\F186";
  font-weight: 600;
}

.fa-star-yellow::before {
  font-family: "Font Awesome 5 Free";
  content: "\F005";
  font-weight: 600;
  color: #FFD20B;
}

.fa-star-gray::before {
  font-family: "Font Awesome 5 Free";
  content: "\F005";
  font-weight: 600;
  color: #DEDEDE;
}

.fa-heart-red::before {
  font-family: "Font Awesome 5 Free";
  content: "\F004";
  font-weight: 600;
  color: #ff9393;
}

.fa-heart-gray::before {
  font-family: "Font Awesome 5 Free";
  content: "\F004";
  font-weight: 600;
  color: #DEDEDE;
}

.fa-heart::before {
  font-family: "Font Awesome 5 Free";
  content: "\F004";
  font-weight: 600;
}

.fa-yen::before {
  font-family: "Font Awesome 5 Free";
  content: "\F157";
  font-weight: 600;
}

.fa-key::before {
  font-family: "Font Awesome 5 Free";
  content: "\F084";
  font-weight: 600;
}

.fa-signout::before {
  font-family: "Font Awesome 5 Free";
  content: "\F2F5";
  font-weight: 600;
}

.fa-search::before {
  font-family: "Font Awesome 5 Free";
  content: "\F002";
  font-weight: 600;
}

.fa-question::before {
  font-family: "Font Awesome 5 Free";
  content: "\F059";
  font-weight: 600;
}

.fa-map::before {
  font-family: "Font Awesome 5 Free";
  content: "\F3C5";
  font-weight: 600;
}

.fa-friends::before {
  font-family: "Font Awesome 5 Free";
  content: "\F500";
  font-weight: 600;
}

.fa-wink::before {
  font-family: "Font Awesome 5 Free";
  content: "\F4DA";
  font-weight: 600;
}

.fa-twitter::before {
  font-family: "Font Awesome 5 Brands";
  content: "\F099";
  font-weight: 600;
}

.fa-facebook::before {
  font-family: "Font Awesome 5 Brands";
  content: "\F39E";
  font-weight: 600;
}

.fa-line::before {
  font-family: "Font Awesome 5 Brands";
  content: "\F3C0";
  font-weight: 600;
}

.fa-copy::before {
  font-family: "Font Awesome 5 Free";
  content: "\F0C5";
  font-weight: 600;
}

.fa-lightbulb::before {
  font-family: "Font Awesome 5 Free";
  content: "\F0EB";
  font-weight: 600;
}

.fa-thumbs-up::before {
  font-family: "Font Awesome 5 Free";
  content: "\F164";
  font-weight: 400;
}

.fa-home::before {
  font-family: "Font Awesome 5 Free";
  content: "\F015";
  font-weight: 600;
}

.fa-plus::before {
  font-family: "Font Awesome 5 Free";
  content: "\F067";
  font-weight: 600;
}

.fa-user::before {
  font-family: "Font Awesome 5 Free";
  content: "\F007";
  font-weight: 600;
}

/* ============================================================================
* pages
* ========================================================================= */

/* ----------------------------------------------------------------------------
 * page  index
 * ------------------------------------------------------------------------- */

.p-index__sub_title {
  font-size: 36px;
  position: relative;
  margin-bottom: 20px;
}

.p-index__sub_title::after {
  position: absolute;
  display: block;
  z-index: -1000;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.p-index__sub_text {
  font-size: 18px;
}

.p-index__main {
  margin: 330px 0 160px;
  text-align: center;
  position: relative;
}

.p-index__main::before {
  content: "";
  position: absolute;
  display: block;
  background: url(/images/img_1.png), url(/images/img_2.png);
  width: 800px;
  height: 300px;
  background-size: contain, contain;
  background-repeat: no-repeat;
  background-position: left, right;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.p-index__main::after {
  content: "";
  position: absolute;
  display: block;
  background: url(/images/img_3.png), url(/images/img_4.png);
  width: 1080px;
  height: 300px;
  background-size: contain, contain;
  background-repeat: no-repeat;
  background-position: left, right;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1000;
}

.p-index__main_title {
  font-size: 36px;
}

.p-index__main_text {
  margin-top: 15px;
  font-size: 20px;
}

.p-index__main_btn {
  background-color: #EC4B58;
  padding: 15px 50px;
  margin: 25px;
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
}

.p-index__gift {
  text-align: center;
  padding-top: 120px;
}

.p-index__gift_title::after {
  content: url(/images/contents_title_1.png);
}

.p-index__gift_content--item {
  padding: 0 30px;
}

.p-index__gift_content--img {
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.p-index__gift_content--text {
  text-align: left;
  line-height: 1.4;
}

.p-index__cost {
  text-align: center;
  padding: 120px 0 120px;
}

.p-index__cost_title::after {
  content: url(/images/contents_title_2.png);
}

.p-index__cost_content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.p-index__cost_content--item {
  padding: 0 30px;
}

.p-index__cost_content--img {
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 390px;
  width: 100%;
  position: relative;
  margin-left: 80px;
}

.p-index__cost_content--text {
  text-align: left;
  text-align: end;
}

@media screen and (max-width: 640px) {
  .p-index__main {
    margin: 250px 0 240px;
    text-align: center;
    position: relative;
  }

  .p-index__main::before {
    width: 100%;
    height: 250px;
  }

  .p-index__main::after {
    width: 100%;
    height: 250px;
    top: 100%;
  }

  .p-index__main_title {
    padding-top: 25px;
  }

  .p-index__gift_content--img {
    height: 200px;
  }
}

@media screen and (max-width: 560px) {
  .p-index__main {
    margin: 200px 0 240px;
    text-align: center;
    position: relative;
  }

  .p-index__main::before {
    width: 100%;
    height: 200px;
  }

  .p-index__main::after {
    width: 100%;
    height: 200px;
    top: 100%;
  }

  .p-index__gift {
    padding-top: 60px;
  }

  .p-index__gift .flex_sb {
    flex-wrap: wrap;
  }

  .p-index__gift_content--img {
    height: auto;
  }

  .p-index__cost_cntent--img {
    margin-left: 0;
  }

  .p-index__cost_cntent--text {
    text-align: center;
  }
}

@media screen and (max-width: 399px) {
  .p-index__main {
    margin: 160px 0 240px;
    text-align: center;
    position: relative;
  }

  .p-index__main::before {
    width: 100%;
    height: 150px;
  }

  .p-index__main::after {
    width: 100%;
    height: 150px;
    top: 100%;
  }

  .p-index__gift_content--item {
    padding: 0 0 30px;
  }
}

/* ----------------------------------------------------------------------------
 * page contact
 * ------------------------------------------------------------------------- */

.p-contact input,
.p-contact button,
.p-contact textarea,
.p-contact select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.p-contact__form {
  border: 1px solid #ddd;
}

.p-contact__form--flex {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.p-contact__form--txt {
  background-color: #f7f7f7;
  padding: 28px;
  border-right: 1px solid #ddd;
  width: 220px;
}

.p-contact__form--input {
  padding: 28px;
  width: 100%;
}

.p-contact__form--text,
.p-contact__form--message {
  border: 1px solid #ccc;
  border-color: var(--_form-control-border-color, #ccc);
  border-radius: 3px;
  border-radius: var(--_border-radius, 3px);
  outline: 0;
  transition: border 0.2s ease-out;
  padding: 0.44231rem 0.88462rem;
  padding: calc(var(--_space, 1.76923rem)*0.25) calc(var(--_space, 1.76923rem)*0.5);
  background-color: #fff;
  background-color: var(--_color-white, #fff);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.035);
  width: 100%;
  font-size: 16px;
}

.p-contact__form--submit {
  cursor: pointer;
  display: block;
  border: 1px solid #ccc;
  border-color: var(--_form-control-border-color, #ccc);
  border-radius: var(--_border-radius, 3px);
  outline: 0;
  transition: border 0.2s ease-out;
  background-color: #eee;
  background-image: linear-gradient(180deg, #fff, #eee);
  border-radius: 3px;
  color: #333;
  padding: 15px 40px;
  text-decoration: none;
  margin: 30px auto;
  font-size: 16px;
}

.p-contact__form--submit:hover {
  border-color: #999;
}

@media screen and (max-width: 560px) {
  .p-contact__form--flex {
    flex-direction: column;
  }

  .p-contact__form--txt {
    border-bottom: 1px solid #ddd;
    border-right: none;
    width: 100%;
  }
}

/* ----------------------------------------------------------------------------
 * page  dashboard
 * ------------------------------------------------------------------------- */

.p-dashboard .post {
  margin: 80px 0;
}

.p-dashboard .post-wrap {
  display: flex;
  flex-wrap: wrap;
}

/* ----------------------------------------------------------------------------
 * auth login
 * ------------------------------------------------------------------------- */

.auth-login a,
.auth-register a,
.auth-reset-password a {
  color: #BF4040;
}

.auth-login .gray,
.auth-register .gray,
.auth-reset-password .gray {
  color: #504643;
}

.auth-login label,
.auth-register label,
.auth-reset-password label {
  margin-left: 16px;
  font-size: 14px;
}

.auth-login input,
.auth-register input,
.auth-reset-password input {
  border-radius: 8rem !important;
  height: 42px;
}

.auth-login input::-webkit-input-placeholder,
.auth-register input::-webkit-input-placeholder,
.auth-reset-password input::-webkit-input-placeholder {
  font-size: 14px;
}

.auth-login input::-moz-placeholder,
.auth-register input::-moz-placeholder,
.auth-reset-password input::-moz-placeholder {
  font-size: 14px;
}

.auth-login input:-ms-input-placeholder,
.auth-register input:-ms-input-placeholder,
.auth-reset-password input:-ms-input-placeholder {
  font-size: 14px;
}

.auth-login input::-ms-input-placeholder,
.auth-register input::-ms-input-placeholder,
.auth-reset-password input::-ms-input-placeholder {
  font-size: 14px;
}

.auth-login input::placeholder,
.auth-register input::placeholder,
.auth-reset-password input::placeholder {
  font-size: 14px;
}

.auth-login .invalid-feedback,
.auth-register .invalid-feedback,
.auth-reset-password .invalid-feedback {
  font-size: 8px;
  color: #a10000;
}

/* ----------------------------------------------------------------------------
 * page subscription create
 * ------------------------------------------------------------------------- */

.p-subscription {
  /* settlement */
}

.p-subscription .settlement {
  max-width: 700px;
  margin: 80px auto;
}

.p-subscription .settlement-form label {
  font-size: 18px;
  font-weight: bold;
}

.p-subscription .settlement-form_block {
  display: block;
  width: 100%;
  margin-top: 24px;
}

.p-subscription .settlement-form input {
  margin-top: 10px;
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 12px 16px;
  border: 1px solid #6C6C6C;
}

.p-subscription .settlement-form_inline {
  display: inline-block;
  width: 100%;
  max-width: 337px;
  margin-top: 24px;
}

.p-subscription .ml20 {
  margin-left: 20px;
}

.p-subscription .settlement-txt {
  margin-top: 32px;
  line-height: 20px;
}

.p-subscription .settlement-check_container {
  text-align: center;
  margin-top: 48px;
}

.p-subscription .settlement-check input {
  width: auto;
  margin-top: 0;
  display: inline-block;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

.p-subscription .settlement-form input.settlement-submit {
  cursor: pointer;
  border: none;
  margin: 0 auto;
  max-width: 200px;
  font-size: 16px;
  border-radius: 50px;
  color: white;
  margin-top: 24px;
  background-color: #ED4C59;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .p-subscription .settlement-form_inline {
    max-width: 45%;
  }

  .p-subscription .settlement {
    margin: 32px 0 40px;
  }
}

.p-subscription .settlement-form input.settlement-submit.post-btn {
  margin-top: 60px;
  max-width: 230px;
  padding: 12px 24px;
}

/* ----------------------------------------------------------------------------
 * page message create
 * ------------------------------------------------------------------------- */

.p-user-message-create {
  max-width: 700px;
  margin: 80px auto;
}

.p-user-message-create .post-textarea {
  width: 100%;
  padding: 24px;
}

.p-user-message-create .settlement-form input {
  margin-top: 10px;
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 12px 16px;
  border: 1px solid #6C6C6C;
}

.p-user-message-create .settlement-form input.settlement-submit.post-btn {
  margin-top: 60px;
  max-width: 230px;
  padding: 12px 24px;
}

.p-user-message-create .settlement-form input.settlement-submit {
  cursor: pointer;
  border: none;
  margin: 0 auto;
  max-width: 200px;
  font-size: 16px;
  border-radius: 50px;
  color: white;
  margin-top: 24px;
  background-color: #ED4C59;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .p-user-message-create .settlement {
    margin: 32px 0 40px;
  }
}

.p-user-user-show {
  min-height: 460px;
  max-width: 700px;
  margin: 80px auto;
}

.p-user-user-show .c-message-index-card {
  min-width: 100%;
}

.p-user-user-show .c-message-index-card:nth-child(2n) {
  padding-left: 0;
}

.p-user-user-show .mypage-info {
  display: flex;
  margin-bottom: 30px;
}

.p-user-user-show .mypage-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.p-user-user-show .mypage-info_container {
  margin-left: 15px;
}

.p-user-user-show .mypage-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

@media screen and (max-width: 960px) {
  .p-user-user-show {
    margin: 40px 0;
  }
}

.wrap {
  max-width: 1080px;
  margin: 0 auto;
}

.content {
  max-width: 700px;
  min-height: 500px;
  margin: 0 auto;
}

body {
  color: #201E1F;
  font-family: "TsukuARdGothic-Regular", fot-tsukuardgothic-std, "M PLUS 1p", "Hiragino Kaku Gothic ProN", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", YuGothic, "Yu Gothic", "Yu Gothic UI", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  line-height: 1.2;
}

.btn {
  color: #ffffff;
  display: block;
  border-radius: 30px;
  text-decoration: none;
}

.br_hide {
  display: none;
}

.ta-left li {
  text-align: left;
}

a {
  color: #211F20;
  text-decoration: none;
}

@media screen and (max-width: 560px) {
  .br_hide {
    display: block;
  }
}

/* flex */

.flex_sb {
  display: flex;
  justify-content: space-between;
}

.align_center {
  align-items: center;
}

.globalMenuSp {
  display: none;
}

nav.globalMenuSp ul li:hover,
.header_nav-link:hover,
.btn:hover,
.footer_nav--link:hover {
  opacity: 0.5;
  transition: all 0.5s;
}

/* 固定ページ */

.page {
  padding: 30px 0 60px;
}

.page_title {
  font-size: 36px;
  margin-bottom: 45px;
}

.page p {
  margin-bottom: 45px;
  font-size: 18px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.page .table-responsive td,
.single .table-responsive th {
  border: 1px solid #cfcfcf;
}

.page .table-responsive table td:nth-child(1) {
  width: 150px;
}

.page .table td {
  line-height: 1.428571429;
  vertical-align: top;
  padding: 15px;
}

/* Twitter */

.twitter {
  margin-top: 120px;
}

.twitter_txt {
  position: relative;
  display: inline-block;
  padding: 0 35px;
  color: #1DA1F2;
}

.twitter_txt:before,
.twitter_txt:after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 22px;
  height: 2px;
  background-color: #1DA1F2;
  transform: rotate(-50deg);
}

.twitter_txt:before {
  left: 0;
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 22px;
  height: 2px;
  background-color: #1DA1F2;
  transform: rotate(50deg);
}

.twitter_txt:after {
  right: 0;
}

.twitter_btn--logo {
  width: 22px;
}

@media screen and (max-width: 980px) {
  main {
    margin: 40px 0;
  }

  .wrap {
    max-width: 1080px;
    margin: 0 auto;
    padding: 52px 10px 0;
  }

  .post {
    margin: 40px 0;
  }

  .page_title {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .post-content {
    max-width: 100%;
    padding: 0;
  }

  .post-content:nth-child(2n) {
    padding-left: 0;
  }

  .see_more {
    margin-top: 40px;
  }
}

