commands:
    000_mkswap:
        test: '[ ! -e /var/swap.1 ]'
        command: "/bin/dd if=/dev/zero of=/var/swap.1 bs=1M count=1024; /sbin/mkswap /var/swap.1; /sbin/swapon /var/swap.1"
    001_update_composer:
        command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: COMPOSER_HOME
      value: /root

container_commands:
  00-artisan:
    command: |
      php artisan migrate --force