option_settings:
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public

files:
    "/etc/php.d/php_custom.ini" :
        mode: "000644"
        owner: root
        group: root
        content: |
            upload_max_filesize = 64M
            post_max_size = 64M
            memory_limit = 128M
            opcache.enable = 1
            opcache.enable_cli = 1
            opcache.memory_consumption = 128
            opcache.interned_strings_buffer = 8
            opcache.max_accelerated_files = 4000
            opcache.revalidate_freq = 60
            opcache.fast_shutdown = 1
