option_settings:
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public

files:
    "/etc/php.d/php_custom.ini" :
        mode: "000644"
        owner: root
        group: root
        content: |
            upload_max_filesize = 64M
            post_max_size = 64M
            memory_limit = 128M
