container_commands:
  01-download-node:
    command: "curl -sL https://rpm.nodesource.com/setup_12.x | bash -"
  02-install-node:
    command: "yum -y install nodejs"
  03-npm-install:
    command: "npm install --save-dev cross-env"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99npm-run-prod.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/app/current/
      sudo npm run production