files:
  "/root/laravel.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 50M;
      location / {
        try_files $uri $uri/ /index.php?$query_string;
      }

container_commands:
  01_restart_nginx:
    command: |
      echo "01_restart_nginx"
      mv /root/laravel.conf /var/proxy/staging/nginx/conf.d/elasticbeanstalk/laravel.conf
      systemctl restart nginx
