option_settings:
  - option_name: APP_ENV
    value: production
  - option_name: APP_KEY
    value: "base64:v2BrfVfEAIwRx/FDiHlbFPGO1t7SZVSylaNlJKD1agA="
  - option_name: APP_DEBUG
    value: false
  - option_name: APP_LOG_LEVEL
    value: info
  - option_name: APP_URL
    value: gift.place
  - option_name: DB_CONNECTION
    value: mysql
  - option_name: DB_HOST
    value: ""
  - option_name: DB_PORT
    value: 3306
  - option_name: DB_DATABASE
    value: ""
  - option_name: DB_USERNAME
    value: root
  - option_name: DB_PASSWORD
    value: ""
  - option_name: BROADCAST_DRIVER
    value: log
  - option_name: CACHE_DRIVER
    value: file
  - option_name: SESSION_DRIVER
    value: database
  - option_name: SESSION_LIFETIME
    value: 20160
  - option_name: QUEUE_DRIVER
    value: database
  - option_name: REDIS_HOST
    value: 127.0.0.1
  - option_name: REDIS_PORT
    value: 6379
  - option_name: MAIL_DRIVER
    value: ses
  - option_name: MAIL_FROM_ADDRESS
    value: ""
  - option_name: MAIL_FROM_NAME
    value: ""
  - option_name: MAIL_TESTER
    value: ""
  - option_name: STORAGE_TYPE
    value: local
  - option_name: AWS_IMAGE_REGION
    value: ap-northeast-1
  - option_name: AWS_IMAGE_BUCKET
    value: techbowl
  - option_name: AWS_REGION
    value: ap-northeast-1
  - option_name: AWS_BUCKET
    value: ""
  - option_name: AWS_ACCESS_KEY_ID
    value: ""
  - option_name: AWS_SECRET_ACCESS_KEY
    value: ""
  - option_name: AWS_DEFAULT_REGION
    value: ap-northeast-1
  - option_name: AWS_URL
    value: ""
  - option_name: AWS_SES_REGION
    value: us-east-1
  - option_name: AWS_SES_ACCESS_KEY_ID
    value: ""
  - option_name: AWS_SES_SECRET_ACCESS_KEY
    value: ""
  - option_name: LOG_CHANNEL
    value: cloudwatch
  - option_name: LOG_SLACK_LEVEL
    value: error
  - option_name: LOG_SLACK_WEBHOOK_URL
    value: ''
  - option_name: TWITTER_CLIENT_ID
    value: ''
  - option_name: TWITTER_CLIENT_SECRET
    value: ''
  - option_name: TWITTER_CLIENT_CALLBACK
    value: ''
  - option_name: TWITTER_ACCESS_TOKEN
    value: ''
  - option_name: TWITTER_ACCESS_TOKEN_SECRET
    value: ''
  - option_name: STRIPE_KEY
    value: ''
  - option_name: STRIPE_SECRET
    value: ''
  - option_name: STRIPE_PLAN
    value: ''
  - option_name: STRIPE_WEBHOOK_SECRET
    value: ''
  - option_name: STRIPE_WEBHOOK_TOLERANCE
    value: ''
  - option_name: CASHIER_MODEL
    value: App\Models\User
  - option_name: CASHIER_CURRENCY
    value: JPY
  - option_name: CASHIER_LOGGER
    value: daily
  - option_name: AWS_CLOUDWATCH_ACCESS_KEY_ID
    value: ""
  - option_name: AWS_CLOUDWATCH_SECRET_ACCESS_KEY
    value: ""
  - option_name: AWS_CLOUDWATCH_DEFAULT_REGION
    value: ap-northeast-1