.s-footer {
    margin-bottom: 40px;
    font-size: 15px;

    &_nav--ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5px;
    }

    &_nav--ul li {
      position: relative;
    }

    &_nav--link {
      padding: 0 15px;
      text-decoration: none;
      color: #201E1F;
      display: block;

    }

    &_nav--ul li::before {
      position: absolute;
      display: block;
      content: "";
      width: 1px;
      height: 18px;
      background-color: #201E1F;
    }

    &_nav--ul li::after {
      position: absolute;
      display: block;
      content: "";
      width: 1px;
      height: 18px;
      right: -1px;
      top: 0;
      background-color: #201E1F;
    }
}