.s-header {
  margin: 40px 0;

  .header_img {
    height: 70px;
  }

  .header_nav--ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header_nav--ul li {
    font-size: 16px;
    text-align: center;
    position: relative;
  }

  .header_nav--ul li::before {
    display: block;
    content: "";
    background-color: #58595B;
    width: 1px;
    height: 40px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .header_nav-link {
    text-decoration: none;
    color: #201E1F;
    text-align: center;
    margin: 20px;
    display: block;
  }

  .header_nav-link span {
    display: block;
    font-size: 11px;
    color: #77BC1F;
  }

  .header_nav-bell {
    text-decoration: none;
    text-align: center;
    margin: 20px 15px;
    display: block;
  }

  .header_nav-bell img {
    width: 30px;
  }

  .header_nav--btn {
    background-color: #35A638;
    padding: 5px 25px;
    margin: 20px;
  }

  .header_nav--ul li:last-child:before {
    display: none;
  }

  .header_spnav {
    display: none;
  }

  a:hover {
    opacity: .5;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  .header-sp {
    display: none;
  }
}

@media screen and (max-width: 960px) {

  .header_nav--ul {
    display: none;
  }

  .s-header {
    width: 100%;
    top: 0;
    background: white;
    position: fixed;
    z-index: 1000;
    padding: 10px 0;
    margin: 0;

    .header_nav-link {
      text-decoration: none;
      color: #201E1F;
      text-align: center;
      margin: 0;
    }

    .header_nav--ul li::before {
      display: none;
    }

    nav.globalMenuSp ul {
      margin-top: 30px;
    }

    nav.globalMenuSp ul li {
      padding: 0 20px;
    }

    nav.globalMenuSp ul li a {
      padding: 20px 0;
    }

    nav.globalMenuSp ul li a.header_nav--btn {
      padding: 15px 25px;
      margin: 0;
      margin: 20px 0;
    }

    /* ハンバーガー */

    .hamburger {
      display: block;
      position: relative;
      cursor: pointer;
      text-align: center;
    }

    .hamburger span {
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      left: 6px;
      background: #555;
      -webkit-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }

    .hamburger span:nth-child(1) {
      top: 10px;
    }

    .hamburger span:nth-child(2) {
      top: 20px;
    }

    .hamburger span:nth-child(3) {
      top: 30px;
    }

    /* ナビ開いてる時のボタン */
    .hamburger.active span:nth-child(1) {
      top: 16px;
      left: 6px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
      top: 16px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    nav.globalMenuSp {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      color: #000;
      background: #fff;
      text-align: center;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s;
      width: 250px;
      height: 100%;
      display: block;
    }

    nav.globalMenuSp ul {
      margin: 80px auto;
      padding: 0;
      width: 100%;
      padding: 0 20px;
    }

    nav.globalMenuSp ul li {
      list-style-type: none;
      padding: 0;
      width: 100%;
      border-bottom: 1px solid #fff;
    }

    nav.globalMenuSp ul li:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    /* このクラスを、jQueryで付与・削除する */
    nav.globalMenuSp.active {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
    }

    /* ロゴ */
    .header-sp-img {
      position: relative;
      left: 48px;
    }

    .header_img {
      vertical-align: text-top;
      height: auto;
      width: 120px;
    }

    .header-sp {
      display: block;
    }

    .header-pc {
      display: none;
    }

    header .flex_sb {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
    }

    .header-sp-nav .header_nav--ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .header_nav--btn {
      margin: 0 20px 0 8px;
    }

    .header-sp_logos {
      z-index: 1001;
    }

    .header_nav--ul img {
      vertical-align: text-top;
    }

    .header_nav-bell {
      margin: 0;
    }

    .header_udnav-link {
      display: block;
      border-bottom: 1px solid #211F20 !important;
    }

    .header_udnav-link a {
      display: block;
      font-weight: bold;
      text-decoration: none;
      color: #211F20;
      padding: 20px;
    }

    .header_nav-flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-bottom: 20px !important;
      border-bottom: 1px solid #211F20 !important;
    }

    .header-name {
      font-weight: bold;
    }

    .header-id {
      font-size: 14px;
    }
  }
}