.s-header {
  margin: 40px 0;

  &__img {
    height: 70px;
  }

  &__nav--ul {
    display: flex;
  }

  &__nav--ul li {
    font-size: 16px;
    text-align: center;
    position: relative;
  }

  &__nav--ul li::before {
    display: block;
    content: "";
    background-color: #58595B;
    width: 1px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }


  &__nav-link {
    text-decoration: none;
    color: #201E1F;
    text-align: center;
    margin: 20px;
    display: block;
  }

  &__nav-link span {
    display: block;
    font-size: 11px;
    color: #77BC1F;
  }

  &__nav--btn {
    background-color: #35A638;
    padding: 5px 25px;
    margin: 20px;
  }
  &__spnav {
    display: none;
  }
}

@include max-screen($breakpoint-mobile) {
  .s-header {
    margin: 10px 0;

    &__nav--ul {
      display: none;
    }

    &__nav-link {
      text-decoration: none;
      color: #201E1F;
      text-align: center;
      margin: 0;
    }
  }
}