// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

/* ============================================================================
 * mixin
 * ========================================================================= */
@import "mixin";

/* ============================================================================
 * base
 * ========================================================================= */
@import "./base/base";

/* ============================================================================
 * common
 * ========================================================================= */
@import "./common/fontawesome.scss";



/* ============================================================================
 * structure
 * ========================================================================= */
@import "./structure/footer";
@import "./structure/header";


/* ============================================================================
 * components
 * ========================================================================= */


 /* ============================================================================
 * modules
 * ========================================================================= */
@import "./modules/button";
@import "./modules/icon";
@import "./modules/modal";


 /* ============================================================================
 * pages
 * ========================================================================= */
@import "./pages/index";
@import "./pages/index-sp";

@import "./pages/auth/login";
