// Bootstrap
// @import "~bootstrap/scss/bootstrap";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

/* ============================================================================
 * mixin
 * ========================================================================= */
@import "mixin";

/* ============================================================================
 * base
 * ========================================================================= */
@import "./base/base";

/* ============================================================================
 * common
 * ========================================================================= */
@import "./common/fontawesome.scss";



/* ============================================================================
 * structure
 * ========================================================================= */
@import "./structure/footer";
@import "./structure/header";


/* ============================================================================
 * components
 * ========================================================================= */


 /* ============================================================================
 * modules
 * ========================================================================= */
@import "./modules/button";
@import "./modules/icon";
@import "./modules/hamburger";


 /* ============================================================================
 * pages
 * ========================================================================= */
@import "./pages/index";

@import "./pages/auth/login";

.wrap {
  max-width: 1080px;
  margin: 0 auto;
}

.br_hide {
  display: none;
}


/* flex */
.flex_sb {
  display: flex;
  justify-content: space-between;
}

.align_center {
  align-items: center;
}

.globalMenuSp {
  display: none;
}

nav.globalMenuSp ul li:hover,
.header_nav-link:hover,
.btn:hover,
.footer_nav--link:hover {
  opacity: .5;
  transition: all .5s;
}

/* 固定ページ */
.page {
  padding: 30px 0 60px;
}

.page_title {
  font-size: 36px;
  margin-bottom: 45px;
}

.page p {
  margin-bottom: 45px;
  font-size: 18px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.page .table-responsive td, .single .table-responsive th {
  border: 1px solid #cfcfcf;
}

.page .table-responsive table td:nth-child(1) {
  width: 150px;
}

.page .table td {
  line-height: 1.428571429;
  vertical-align: top;
  padding: 15px;
}

/* Twitter */
.twitter {
  margin-top: 120px;
}

.twitter_txt {
  position: relative;
  display: inline-block;
  padding: 0 35px;
  color: #1DA1F2;
}
.twitter_txt:before, .twitter_txt:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 22px;
  height: 2px;
  background-color: #1DA1F2;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
.twitter_txt:before {
  left:0;
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 22px;
  height: 2px;
  background-color: #1DA1F2;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}
.twitter_txt:after {
  right: 0;
}

.twitter_btn--logo {
  width: 22px;
}

@include max-screen($breakpoint-mobile) {
  .br_hide {
    display: block;
  }

  .wrap {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
  }

  nav.globalMenuSp ul {
    margin-top: 30px;
  }

  nav.globalMenuSp ul li {
    padding: 0 20px;
  }

  nav.globalMenuSp ul li a {
    padding: 20px 0;
  }

  nav.globalMenuSp ul li a.header_nav--btn {
    padding: 15px 25px;
    margin: 0;
    margin: 20px 0;
  }

  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #000;
    background: #fff;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.6s;
    width: 100%;
    display: block;
  }

  nav.globalMenuSp ul {
    margin: 30px auto;
    padding: 0;
    width: 100%;
    padding: 0 20px;
  }

  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    transform: translateY(0%);
  }
}

@media screen and (max-width: 560px) {
  .br_pc {
    display: none;
  }
}