// Bootstrap
// @import "~bootstrap/scss/bootstrap";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

/* ============================================================================
 * mixin
 * ========================================================================= */
@import "mixin";

/* ============================================================================
 * base
 * ========================================================================= */
@import "./base/base";

/* ============================================================================
 * common
 * ========================================================================= */
@import "./common/fontawesome.scss";



/* ============================================================================
 * structure
 * ========================================================================= */
@import "./structure/footer";
@import "./structure/header";


/* ============================================================================
 * components
 * ========================================================================= */
@import "./components/message/index-card";
@import "./components/message/show-card";

 /* ============================================================================
 * modules
 * ========================================================================= */
@import "./modules/button";
@import "./modules/icon";
// @import "./modules/hamburger";


 /* ============================================================================
 * pages
 * ========================================================================= */
@import "./pages/index";
@import "./pages/contact";
@import "./pages/dashboard";

@import "./pages/auth/login";
@import "./pages/subscription/create";
@import "./pages/message/create";
@import "./pages/user/show";

.wrap {
  max-width: 1080px;
  margin: 0 auto;
}

.content {
  max-width: 700px;
  min-height: 500px;
  margin: 0 auto;
}

body {
  color: #201E1F;
  font-family: 'TsukuARdGothic-Regular', fot-tsukuardgothic-std, 'M PLUS 1p', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', YuGothic, 'Yu Gothic', 'Yu Gothic UI', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.2;
}

.btn {
  color: #ffffff;
  display: block;
  border-radius: 30px;
  text-decoration: none;
}

.br_hide {
  display: none;
}

.ta-left li {
  text-align: left;
}

a {
  color: #211F20;
  text-decoration: none;
}

@media screen and (max-width: 560px) {
  .br_hide {
    display: block;
  }
}


/* flex */
.flex_sb {
  display: flex;
  justify-content: space-between;
}

.align_center {
  align-items: center;
}

.globalMenuSp {
  display: none;
}

nav.globalMenuSp ul li:hover,
.header_nav-link:hover,
.btn:hover,
.footer_nav--link:hover {
  opacity: .5;
  transition: all .5s;
}

/* 固定ページ */
.page {
  padding: 30px 0 60px;
}

.page_title {
  font-size: 36px;
  margin-bottom: 45px;
}

.page p {
  margin-bottom: 45px;
  font-size: 18px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.page .table-responsive td, .single .table-responsive th {
  border: 1px solid #cfcfcf;
}

.page .table-responsive table td:nth-child(1) {
  width: 150px;
}

.page .table td {
  line-height: 1.428571429;
  vertical-align: top;
  padding: 15px;
}

/* Twitter */
.twitter {
  margin-top: 120px;
}

.twitter_txt {
  position: relative;
  display: inline-block;
  padding: 0 35px;
  color: #1DA1F2;
}
.twitter_txt:before, .twitter_txt:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 22px;
  height: 2px;
  background-color: #1DA1F2;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
.twitter_txt:before {
  left:0;
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 22px;
  height: 2px;
  background-color: #1DA1F2;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}
.twitter_txt:after {
  right: 0;
}

.twitter_btn--logo {
  width: 22px;
}

@include max-screen($breakpoint-tablet) {
  main {
      margin: 40px 0;
  }

  .wrap {
    max-width: 1080px;
    margin: 0 auto;
    padding: 52px 10px 0;
  }

  .post {
    margin: 40px 0;
  }

  .page_title {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .post-content {
    max-width: 100%;
    padding: 0;
  }

  .post-content:nth-child(2n) {
    padding-left: 0;
  }

  .see_more {
    margin-top: 40px;
  }
}
