/* ----------------------------------------------------------------------------
 * page message create
 * ------------------------------------------------------------------------- */
.p-user-message-create {
  max-width: 700px;
  margin: 80px auto;
  .post-textarea {
    width: 100%;
    padding: 24px;
  }

  .settlement-form input {
    margin-top: 10px;
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 12px 16px;
    border: 1px solid #6C6C6C;
  }

  .settlement-form input.settlement-submit.post-btn {
    margin-top: 60px;
    max-width: 230px;
    padding: 12px 24px;
  }

  .settlement-form input.settlement-submit {
    cursor: pointer;
    border: none;
    margin: 0 auto;
    max-width: 200px;
    font-size: 16px;
    border-radius: 50px;
    color: white;
    margin-top: 24px;
    background-color: #ED4C59;
    text-align: center;
  }

  @media screen and (max-width: 960px) {
    .settlement {
      margin: 40px 0;
    }
  }

}